
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Sacramento', cursive; */
}

:root{
    /* *--main-color: #2e3061; */ 
    --main-color: #2E3061;
    --second-color: #FEE9CE;
    --thirt-color: #555184;
    --background-color: #28293D;
    --contraste-color: #FECA7E;
}

.stars {
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: var(--contraste-color);
    animation: twinkling 5s linear infinite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--thirt-color);
    padding: 1rem 2rem;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .nav {
  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.naver {
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    position: relative;
    color: var(--second-color);
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2rem;
    transition: color 0.3s ease ;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--contraste-color);
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: var(--contraste-color);
}  

.menu-icon {
    display: none;
    font-size: 2.5rem;
    color: var(--second-color);
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon{
        display: block;
    }
    
    .navbar {
        position: fixed;
        left: 0;
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: var(--thirt-color);
    }

    #menu-toggle:checked ~ .navbar {
        display: flex;
    }

    .navbar a {
        padding: 0.5rem 1rem;
        
    }
}

.card {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 40px auto;
    padding: 2rem;
    background-color: var(--main-color);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: var(--second-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes twinkling {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.containerfirstPage {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  img {
    width: 500px;
    height: 500px;
    border-radius: 50px;
  }

  .textIntroduceMe h1{
    color: var(--second-color);
    font-size: 120px;
    font-family: 'Sacramento', cursive;

    margin: 0;
  }

  .textIntroduceMe p{
    color: var(--second-color);
    font-size: 44px;
    font-family: 'Sacramento', cursive;

    margin: 0  20px;
  }
  
  
