
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Sacramento', cursive; */
}

:root{
    /* *--main-color: #2e3061; */ 
    --main-color: #2E3061;
    --second-color: #FEE9CE;
    --thirt-color: #555184;
    --background-color: #28293D;
    --contraste-color: #FECA7E;
}

/* animação do background */
.stars {
    position: fixed;
    top: o;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: var(--contraste-color);
    animation: twinkling 5s linear infinite;
}

@keyframes twinkling {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/* Header fixo com a navegação  */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-color);
    padding: 1rem 2rem;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .nav {
  
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Navegação padrão (desktop) */
.naver {
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    position: relative;
    color: var(--second-color);
    text-decoration: none;
    margin-left: 2rem;
    font-size: 2rem;
    transition: color 0.3s ease ;
}

.navbar a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--contraste-color);
    transition: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar a:hover {
    color: var(--contraste-color);
}  

/* Ícone do menu mobile */
.menu-icon {
    display: none;
    font-size: 2.5rem;
    color: var(--second-color);
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

/* Navegação responsiva (mobile) */
@media (max-width: 768px) {
    .menu-icon{
        display: block;
    }
    
    .navbar {
        position: fixed;
        left: 0;
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: var(--thirt-color);
    }

    #menu-toggle:checked ~ .navbar {
        display: flex;
    }

    .navbar a {
        padding: 0.5rem 1rem;
        
    }
}

/* Área principal do conteúdo central com visual de caartão para destacer o conteúdo principal da pagína */
.card {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 40px auto;
    padding: 2rem;
    background-color: var(--main-color);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: var(--second-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home - destaque inicial com imagem e texto */
.home {
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, var(--main-color), var(--thirt-color));
    padding: 5rem 2rem;
    height: 80vh;
}

.home-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.home-img {
    flex: 1;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4.9px solid var(--contraste-color);
    box-shadow: 0 0 25px rgba(238, 255, 0, 0.651);
    object-fit: cover;
}

.home-text {
    flex: 2;
    max-width: 500px;
    color: var(--second-color);
}

.home-text h2 {
    font-family: "Bitcount", system-ui;
    font-weight: 500;
    font-size: 3rem;
    color: var(--contraste-color);
}

.home-text p {
    margin: 1rem 0 2rem;
    
}

/* Home responsivo */
@media (max-width: 768px) {
    .home-grid {
        flex-direction: column;
        align-items: center;
    }

    .home-text h2,
    .home-text p {
        text-align: center;
    }

    .home-text {
        align-items: center;
    }
    
}

/* Seçoes gerais */
.section {
    padding: 3rem 2rem;
    background-color: var(--main-color);
}

.section-title {
    margin-bottom: 1rem;
    color: var(--contraste-color);
}

.section-text {
    font-size: 1.05rem;
    line-height: 1.8;
    color: var(--second-color);
    margin-bottom: 1.2rem;
}

/* Grid de skills (card) */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
    justify-items: center;
}

.skill-card {
   
}